.img-preview {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.event-title{
    font-family: Britannic;
    font-size: 22px;
}

.event-description {
  font-family: Britannic;
  font-size: 18px;
}

.event-date{
    font-size:16px;
}
