<div *ngIf="visibile" class="modal-bg-trasparent modal-background-transparent">
  <!--New generic modal 2-->
  <div class="col-12 col-lg-8 col-xxl-8  mx-auto my-5" id="modalContainer" *ngIf="modalType == 1 || modalType == 3">
    <div class="modal-header-bg title-bg header-round-border p-3">
      <h3>{{header}}</h3>
    </div>
    <div class="modal-body-bg body-round-border p-2">
      <!--<form #frmInput="ngForm">-->
        <div class="col-12 text-center">
          <div class="col-12 m-0 p-0" *ngIf="lists != null && lists.length > 0">
            <div class="col-12 d-flex row" *ngFor="let viewGroup Of lists">
              <div class="col-12" *ngFor="let viewItem of viewGroup.viewItems;let viewIndex = index">
                <div class="col-12 col-lg-5 mx-auto">
                  <label class="col-12 input-title" *ngIf="viewGroup.type != 3 && viewGroup.type != 6">{{viewItem.label}}</label>
                  <div class="col-12 mx-auto">
                    <!--dropdown inputs-->
                    <select *ngIf="viewGroup.type == 1"
                            [name]="viewItem.viewId"
                            class="col-10 col-lg-12 p-2"
                            [id]="viewItem.viewId"
                            [ngModel]="values.get(viewItem.referenceId)"
                            (ngModelChange)="values.set(viewItem.referenceId, $event)">
                      <option *ngFor="let listItem of viewItem.list"
                              [value]="listItem._dropId">
                        {{listItem._modalDropText}}
                      </option>
                    </select>
                  </div>
                  <div class="col-12 mx-auto">
                    <!--textbox inputs-->
                    <input *ngIf="viewGroup.type == 0 && viewItem.hasNgModel == true;else inputNoModel"
                           class="col-10 col-lg-12"
                           type="text"
                           [id]="viewItem.referenceId"
                           [ngModel]="modelOut"
                           (ngModelChange)="onChange($event,viewItem.referenceId)"
                           (change)="viewItem.validationFunc != null ? inputChange(viewItem, $event) : onChange($event,viewItem.referenceId)"/>
                    <!--"inputNOMODEL" da intendersi come senza nessun model collegato agli altri dati-->
                    <ng-template #inputNoModel>
                      <input *ngIf="viewGroup.type == 0"
                             class="col-10 col-lg-12"
                             type="text"
                             [ngModel]="values.get(viewItem.referenceId)"
                             
                             (change)="viewItem.validationFunc != null ? inputChange(viewItem, $event) : onChange($event,viewItem.referenceId)"/>
                    </ng-template>
                    <div class="col-lg-12 col-12 text-start" *ngIf="viewItem.extraDescription != null && viewItem.extraDescription.observers.length > 0">
                      <small style="white-space:pre-line;" class="text-start col-12">{{viewItem.extraDescriptionString}}</small>
                    </div>
                  </div>
                </div>
                <!--textarea-->
                <div class="col-12" *ngIf="viewGroup.type == 5">
                  <textarea id="viewGroup.viewId" class="col-10 col-lg-10" [ngModel]="values.get(viewItem.referenceId)" (ngModelChange)="values.set(viewItem.referenceId, $event)"></textarea>
                </div>
                <div class="col-12 p-2 mx-auto">
                  <!--image input-->
                  <input id="{{viewItem.viewId}}"
                         *ngIf="viewGroup.type == 2"
                         class="col-10 col-lg-12"
                         type="file"                         
                         accept="image/webp"
                         (change)="onFileChanged($event,viewItem.referenceId)" />
                </div>
                <!--table input-->
                <div class="col-12 text-center mx-auto" *ngIf="viewGroup.type == 3">
                  <label class="col-12">{{viewItem.label}}</label>
                  <div class="col-12 col-lg-5 mx-auto text-center card-body table-inputs" style="overflow-x:auto;overflow-y:auto; border: 1px solid #000">
                    <div class="col-10 col-lg-12 text-start" *ngFor="let listItem of viewItem.list;let idx = index">
                      <!--qui ho la lista dati-->
                      <input class="col-1"
                             type="checkbox"
                             (change)="onCheckboxChangeState(idx,viewItem.referenceId, $event, viewGroup.txtTableQuantity, listItem, viewItem.connectToReferenceView)" />

                      <input type="text" *ngIf="viewGroup.txtTableQuantity" (input)="onTxtTableQuantityChange(idx,viewItem.referenceId, $event, listItem)" [value]="viewQuantityValuesMap.get(idx)" [disabled]="disableViewQuantityMap.get(idx)" class="col-2 col-lg-2 text-end" />

                      {{listItem._modalDropText}} <small *ngIf="listItem._valueOut">- {{listItem._valueOut | currency: 'EUR'}}</small>
                    </div>
                  </div>
                </div>
                <div class="col-12" *ngIf="viewGroup.type == 6">
                  <div class="row text-start p-1">
                    <input type="checkbox" id="viewItem.viewId" class="col-1" />
                    <label [for]="viewItem.viewId" class="col-11">{{viewItem.label}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 justify-content-center">
            <button type="button" class="col-5 col-lg-2 btn btn-secondary m-1" (click)="onCloseModal()">Annulla</button>
            <button class="col-5 col-lg-2 btn btn-primary m-1" (click)="onConfirmModal()">OK</button>
          </div>
        </div>
      <!--</form>-->
    </div>


  </div>
  <div *ngIf="modalType == 6" class="col-12 col-lg-5 modal-border m-auto mt-5">
    <div class="modal-header-bg title-bg header-round-border p-3">
      <h3>{{header}}</h3>
    </div>
    <div class="col-12 listview p-4">
      <ul class="col-12 p-4">
        <li *ngFor="let data Of lists[0].viewItems[0].list">
          {{data._modalDropText}}
          <div class="dropdown-divider"></div>
        </li>
      </ul>
    </div>
    <div class="row mt-3 justify-content-center">
      <button class="col-2 btn btn-primary m-1" (click)="onConfirmModal()">OK</button>
    </div>
  </div>
  <!--LOGIN-->
  <div *ngIf="modalType == 7" class="col-12 col-lg-5  modal-border m-auto mt-5">
    <div class="modal-header-bg title-bg header-round-border p-3">
      <h3>{{header}}</h3>
    </div>
    <form #frmLogin="ngForm" (ngSubmit)="onConfirmModal()">
      <div class="col-12 p-4">
        <div class="col-12 text-center p-3">
          <input type="email" name="email" required #email="ngModel" class="col-5" placeholder="Email" [ngModel]="values.get(lists[0].viewItems[0].referenceId)" (ngModelChange)="onTxtChange(lists[0].viewItems[0].referenceId, $event)" />
          <div class="col-12 text-center">
            <small class="col-5" style="color:red; font-size: 12px" *ngIf="email.touched && email.errors?.['required']">Inserire un indirizzo email</small>
          </div>
        </div>
        <div class="col-12 text-center p-3">
          <input type="password" name="password" #password="ngModel" required class="col-5" placeholder="Password" [ngModel]="values.get(lists[0].viewItems[1].referenceId)" (ngModelChange)="onTxtChange(lists[0].viewItems[1].referenceId, $event)" />
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <button type="button" class="col-2 btn btn-secondary m-1" (click)="onCloseModal()">Annulla</button>
        <button class="col-2 btn btn-primary m-1" [disabled]="frmLogin.invalid" type="submit">OK</button>
      </div>
    </form>

  </div>

  <!--Success dialog-->
  <div *ngIf="modalType == 9 || modalType == 5 || modalType == 10" class="col-12  col-lg-4 modal-border m-auto mt-5" >
    <div class="col-12 card-header" data-value="">
      {{header}}
      <i class="fa fa-close" style="float:right" (click)="onCloseModal()"></i>
    </div>
    <div class="card-body" style="background-color:white">
      <div class="row">
        <div class="col-3 text-center">
          <img
               [src]="modalType == 9 ? '../../../assets/success.png' : modalType == 10 ? '../../../assets/exclamation_mark.png' : '../../../assets/error.png'"
               style="width:60px"
               class="col-12"/>
        </div>
        <div class="col-9 text-center row">
          <label class="col-12 align-self-center">{{message}}</label>
          <div class="col-12" *ngFor="let item of lists">
            <div class="col-12 text-start" *ngFor="let view of item.viewItems">
              <label>{{view.label}} : {{view.defaultText}}</label>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>

</div>
