<div class="container">
  <div class="col-12">
    <div class="card-header">
      <div class="row">
        <div class="col-2">Nome</div>
        <div class="col-2">Cognome</div>
        <div class="col-2">Codice prenotazione</div>
        <div class="col-2">Tavoli</div>
        <div class="col-2">Totale credito</div>
        <div class="col-2">Credito pagato</div>
      </div>      
    </div>
    <div class="card-body">
      <div class="row" *ngFor="let item of collaborators">
       <div class="col-2"></div>
       <div class="col-2"></div>
       <div class="col-2"></div>
       <div class="col-2"></div>
       <div class="col-2"></div>
       <div class="col-2"></div>
      </div>
    </div>
  </div>
</div>
