@import "~swiper/css";
@import "~swiper/css/effect-coverflow";
@import "~swiper/css/pagination";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--bs-body-bg) !important;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.body-container {
  padding: 100px 20px 20px 20px;
  height:1020px;
  overflow:auto
}

.body-home-container {
  padding: 71px 0 0 0;
}



@media only screen and (max-width: 600px) {
  swiper {
    height: 250px !important;
  }

  .body-container {
    padding: 71px 1px 0 1px;
  }
}

#loginHeader {
  cursor: pointer;
  line-height: 1.5rem;
}

#loginHeader > li {
    line-height: 2.2rem;
}

#loginHeader:hover  {

}

nav a {
  text-decoration: none;
}

.wrapper {
  background: #171c24;
  position: fixed;
  width: 100%;
  z-index:99;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  nav .content .links {
    margin-left: 0px;
  }
}

.content .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  background: #323c4e;
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}

.search-box input::placeholder {
  color: #f2f2f2;
}

.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  display: none;
}
/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .links ul li {
  position: relative;
}

.content .links ul li:hover ul {
  top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }

  nav .content .links {
    margin-left: 30px;
  }

  .content .links li a {
    padding: 8px 13px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }

  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }

  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }

  .content .links li {
    margin: 15px 20px;
  }

  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }

  .content .links li a.desktop-link {
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  /*.content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }*/

  .content .links input[id*='show']:checked ~ ul{
    max-height: 100vh;
  }

  .content .links ul li {
    margin: 7px 20px;
  }

  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }

  .content .logo a {
    font-size: 24px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }

  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }

  .wrapper .search-box input {
    padding-right: 30px;
  }  
}

.dummy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.dummy-text h2 {
  font-size: 45px;
  margin: 5px 0;
}
.errors-div label {
  color: red;
}

select {
    cursor:pointer;
}

.new-button {
  font-family: Britannic;
  font-size: 16px;
  background: #71f86b;
}


  .btn-filter-bg {
    background-color: #ff6a00;
  }

  btn-icon {
    background-color: transparent;
  }

  * {
    padding: 0px;
    margin: 0px;
  }

  body {
    padding: 0px !important;
  }

  .swiper {
    width: 100%;
   
  }

  .mySwiperMoments {
    height: 400px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 600px;
  }

  .coverflow-size {
    width: 300px;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-div {
    max-height: 100%;
    height: auto;
  }


  .card-body, .card-header {
    font-size: 14px;
  }

  .nav-color {
    background-color: #000;
  }

  .header-bg {
    background-color: #333;
  }

  #ulmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-flex;
  }

  #ulmenu li {
    float: left;
  }

  #ulmenu li > a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #ulmenu li a:hover, .drpdown:hover .dropbtn {
    background-color: red;
    cursor: pointer;
  }

  .logout label:hover {
    cursor: pointer;
  }

  .logout:hover label {
    background-color: red;
  }

  #ulmenu li.drpdown {
    display: inline-block;
  }

  .drpdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .drpdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .drpdown-content a:hover {
    background-color: #f1f1f1;
  }

  .drpdown:hover .drpdown-content {
    display: block;
  }

  div[data-value*=tblHeader], tr[data-value*=tblHeader] {
    border: 1px solid #000;
    border-bottom: 0 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  div[data-value*=tblBody] {
    border: 1px solid #000;
    border-top: 0 !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  div[data-value*=tblRow] {
    border-bottom: 1px solid #000;
  }

  div[data-value*=tblRow] div:hover {
    cursor: pointer;
  }

  div[data-value*=tblRow]:nth-last-child(-n+1) {
    border-bottom: 0 !important;
  }

  .tblheader-bk {
    background-color: burlywood;
  }

  .table-container {
    max-width: 100%;
    max-height: 70%;
    width: 50%;
    height: 100%;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: unset;
    z-index: 99;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

  #no-data {
    font-family: Britannic;
    font-size: 32px;
  }

.lbl-subtitle {
  font-family: Britannic;
  font-size: 16px;
  color: rgb(20, 18, 18, 0.55);
  text-decoration: none;
}

.lbl-subtitle-bg{
  background-color: rgb(149, 145, 145,0.18);
  width:auto;
  height: auto;
  padding: 7px;
  border-radius: 10px;
  margin-right: 7px;
}

.lbl-subtitle-bg:hover{
    cursor:pointer;
}

.lbl-subtitle-bg:hover {
  color: #000000;
}

.label-subtitle {
  font-size: 18px;
}

#footer_push {
  clear: both;
  height: 50px;
}

.footer {
  position: static;
  bottom: 0;
  left: 0pt;
  width:100%;
}

.footer .title {
    font-size: 20px;
}

.footer .label {
  font-size: 14px;
}

.mobile-list {
  max-height: 100%;
}

@media only screen and (max-height: 1200px) {
  
  .mobile-list {
    max-height: 800px;
    overflow: auto;
  }
}

@media only screen and (max-width: 600px){
  .swiper-slide {
    height: 320px;
  }

  .mobile-list {
    max-height: 600px;
    overflow:auto;
  }
}




