@import "~swiper/css";
@import "~swiper/css/effect-coverflow";
@import "~swiper/css/pagination";

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--bs-body-bg) !important;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.new-button {
  border: 1px solid #fff;
  border-radius: 15%;
  font-family: Britannic;
  font-size: 16px;
  background: #71f86b;
}

.btn-filter-bg{
    background-color: #ff6a00;
}

btn-icon{
    background-color:transparent;
}

*{
    padding:0px;
    margin:0px;
}

body{
    padding:0px!important;
}

.swiper {
  width: 100%;
  padding-bottom: 50px;
}

.mySwiperMoments{
    height:400px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 600px;
}

.coverflow-size {
  width: 300px;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-div {
  max-height: 100%;
  height: auto;
}


.card-body.main-table {
 /* background: #ece8e8;*/
}

.card-body.sub-table{
    /*background: #fbfcf7 !important;*/
}

.nav-color{
    background-color:#000;
}

.header-bg {
  background-color: #333;
}

#ulmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display:inline-flex;
}

#ulmenu li {
  float: left;
}

#ulmenu li > a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#ulmenu li a:hover, .drpdown:hover .dropbtn {
  background-color: red;
  cursor: pointer;
}

.logout label:hover {
    cursor:pointer;
}

.logout:hover label {
  background-color: red;
}

#ulmenu li.drpdown {
  display: inline-block;
}

.drpdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drpdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drpdown-content a:hover {
  background-color: #f1f1f1;
}

.drpdown:hover .drpdown-content {
  display: block;
}

div[data-value*=tblHeader] {
  border: 1px solid #000;
  border-bottom: 0 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

div[data-value*=tblBody] {
  border: 1px solid #000;
  border-top:0 !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

div[data-value*=tblRow] {
  border-bottom: 1px solid #000;
}

div[data-value*=tblRow] div:hover {
    cursor:pointer;
}

div[data-value*=tblRow]:nth-last-child(-n+1) {
  border-bottom: 0 !important;
}

.tblheader-bk {
  background-color: burlywood;
}

.table-container {
    max-width:100%;
    max-height:70%;
    width:50%;
    height:100%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content:unset;
  z-index:99;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

#no-data{
    font-family:Britannic;
    font-size: 32px;
}

.label-subtitle {  
  font-size: 18px;
}
