<div class="col-12 tex-center body-container" *ngIf="!isLoading">
  <div class="col-12 text-center">
    <label id="no-data" class="col-12">GESTIONE TAVOLI</label>
  </div>
  <div class="col-12 mb-3">
    <div class="row">
      <div class="col-12 col-lg-3 p-1 row" *ngIf="events != null && events.events != null">
        <select id="drpEvents" class="col-12  p-2" (change)="onEventChange($event)">
          <option [value]="0">Seleziona evento</option>
          <option *ngFor="let ev of events.events" [value]="ev.id">{{ev.name}}</option>
        </select>
      </div>
      <div class="col-12 col-lg-3 mt-3 mt-lg-0 p-1 row">
        <select id="drpReservationStatus" class="col-12 p-2" (change)="onResStatusChange($event)">
          <option [value]="0">Stato prenotazione</option>
          <option *ngFor="let rs of reservationStatus" [value]="rs.reservationStatusId">{{rs._translatedStatus}}</option>
        </select>
      </div>
      <div class="col-12 col-lg-3 m-lg-0 p-2 text-end">
        <label style="text-decoration:underline; cursor:pointer" for="btnShowMap" class="me-1">Mappa</label>
        <i id="btnShowMap" class=" fa fa-file-pdf-o" (click)="showTableMap()"></i>
      </div>
    </div>
  </div>
  <div *ngIf="!isMobileView;else mobileTemplate">
    <div class="row card-header p-2" data-value="tblHeader" style="background-color:burlywood">
      <div class="col-3">Nome tavolo</div>
      <div class="col-3">Nr. persone previste</div>
      <div class="col-3">Budget previsto</div>
      <div class="col-3">Tavolo assegnato</div>
    </div>
    <div class="card-body" data-value="tblBody" *ngIf="acceptedReservations != null && acceptedReservations.reservations != null && acceptedReservations.reservations.length > 0;else noDataTemplate">
      <div class="row col-12 p-2" data-value="tblRow" *ngFor="let r of acceptedReservations.reservations">
        <div class="col-3">{{r.reservationName}}</div>
        <div class="col-3">{{r.reservationPeopleCount}}</div>
        <div class="col-3">{{r.reservationExpectedBudget | currency: 'EUR'}} </div>
        <div class="col-3" *ngIf="r.reservationStatusId == 2; else warningTemplate">
          <select class="col-12" (change)="onTableAssigned(r.eventId, r.reservationId, $event)" *ngIf="acceptedReservations.canAssignTable;else unsassignableTable" [(ngModel)]="r.tableId">
            <option [value]="0"></option>
            <option *ngFor="let t of avaiableTables" [value]="t.tableId">{{t.tableAreaDescription}} - {{t.tableNumber}}</option>
          </select>
          <ng-template #unsassignableTable>
            <div class="col-12 no-data">
              <label *ngIf="r.reservationTablAssigned == null">TAVOLO ACCETTATO MA NON ASSEGNATO</label>
              <label *ngIf="r.reservationTablAssigned != null">{{r.reservationTablAssigned}}</label>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <ng-template #warningTemplate>
    <div class="col-12 col-lg-3 no-data">
      <b style="color:red">IL TAVOLO NON E' STATO ANCORA ACCETTATO</b>
    </div>
  </ng-template>
  <ng-template #mobileTemplate>
    <div style="overflow:auto; height:620px; max-height:780px;">
      <div class="col-12 p-2" *ngFor="let r of acceptedReservations.reservations">
        <div class="col-12"><b>Nome prenotazione:</b> {{r.reservationName}}</div>
        <div class="col-12"><b>N. persone:</b> {{r.reservationPeopleCount}}</div>
        <div class="col-12"><b>Budget stimato:</b> {{r.reservationExpectedBudget | currency: 'EUR'}}</div>
        <div class="col-12" *ngIf="r.reservationStatusId == 2; else warningTemplate">
          <select class="col-8 p-1" (change)="onTableAssigned(r.eventId, r.reservationId, $event)" *ngIf="acceptedReservations.canAssignTable;else unsassignableTable" [(ngModel)]="r.tableId">
            <option [value]="0"></option>
            <option *ngFor="let t of avaiableTables" [value]="t.tableId">{{t.tableAreaDescription}} - {{t.tableNumber}}</option>
          </select>
          <ng-template #unsassignableTable>
            <div class="col-12 no-data">
              <label *ngIf="r.reservationTablAssigned == null">TAVOLO ACCETTATO MA NON ASSEGNATO</label>
              <label *ngIf="r.reservationTablAssigned != null">{{r.reservationTablAssigned}}</label>
            </div>
          </ng-template>
        </div>
        <div class="col-12 dropdown-divider"></div>
      </div>
    </div>
  </ng-template>
  <ng-template #noDataTemplate>
    <div class="col-12 no-data">
      NON HAI TAVOLI PER QUESTO EVENTO
    </div>
  </ng-template>
</div>


<app-loading [loading]="isLoading"></app-loading>
<ng-container #modalContainer></ng-container>
