.page-number:hover {
    cursor:pointer;
}

.selected-page {
    background: #db6155
}

.table {
    /*min-height: 452px;*/
}

i:hover {
    cursor:pointer;
}

.thead-dark {
  background-color: burlywood;
}


