<div class="p-3 col-12">
  <div class="row col-12 mx-auto">
    <h3 class="col-12 text-center" style="font-family:Britannic; font-size:36px">CATALOGO</h3>
    <div class="col-12 text-end p-3"><button class="col-1 p-2 new-button" *ngIf="catalogView.userCanEditCatalog" (click)="addNewCatalog()">NUOVO</button></div>
    <div class="row justify-content-center p-3">
      <div class=" col-3 m-5"
           (click)="onCatalogClick(catalog.catalogId)"
           [ngClass]="!showShieldBack.get(catalog.catalogId) ? 'shield':'shield-back'"
           *ngFor="let catalog of catalogView.catalog; let i = index">
        <div class="p-3">
          <div class="col-12 text-center mx-auto" [class.catalog-container]="!showShieldBack.get(catalog.catalogId)">
            <label class="col-12 my-auto catalog-title" *ngIf="!showShieldBack.get(catalog.catalogId); else shieldBackTemplate">{{catalog.catalogName}}</label>
            <ng-template #shieldBackTemplate>
              <div class="col-12 text-end p-1">
                <button class="p-1 new-button" *ngIf="catalogView.userCanEditCatalog" (click)="addProductToCatalog(catalog.catalogId)">Aggiungi</button>
              </div>
              <div class="col-12 ps-4 unordered-list-container">
                <ul class="col-12">
                  <li class="col-12 text-start products" *ngFor="let product Of productsFiltered">{{product.productName}} {{product.productPrice|currency:'EUR'}}</li>
                </ul>
              </div>             
            </ng-template>
          </div>
        </div>
      </div>
    </div>
   
    <!--<div id="tblProducts"  class="row col-12 p-2" data-value="tblHeader" style="background-color:burlywood">
      <div class="col-3 ">Nome</div>
      <div class="col-3">Prezzo</div>
      <div class="col-3">Catalogo</div>
      <div class="col-1"></div>
    </div>

    <div class="row" data-value="tblBody" >
      <div class="row col-12 p-2" data-value="tblRow" *ngFor="let prods of products">
        <div class="col-3">{{prods.productName}}</div>
        <div class="col-3">{{prods.productPrice}}</div>
        <div class="col-3">{{prods.catalogName}}</div>
        <i class="fa fa-close col-1 text-end" [id]="prods.productId" (click)="deleteProduct($event)"></i>
      </div>
    </div>-->
  </div>
  
</div>

<ng-container #modalContainer></ng-container>
