<div class="body-container col-12">
  <div class="row col-12 mx-auto">
    <h3 class="col-lg-12 text-center" style="font-family:Britannic; font-size:36px">CATALOGO</h3>
    <div class="col-lg-12 text-end p-3"><button class="col-4 col-lg-1 p-2 btn new-button" *ngIf="catalogView.userCanEditCatalog" (click)="addNewCatalog()"><i class="fa fa-plus me-1"></i>NUOVO</button></div>
    <div class="row justify-content-center p-3">
      <div class=" col-3 col-md-12 m-5"
           (click)="onCatalogClick(catalog.catalogId)"
           [ngClass]="!showShieldBack.get(catalog.catalogId) ? 'shield':'shield-back'"
           *ngFor="let catalog of catalogView.catalog; let i = index">
        <div class="p-3">
          <div class="col-12 text-center mx-auto" [class.catalog-container]="!showShieldBack.get(catalog.catalogId)">
            <label class="col-12 my-auto catalog-title" *ngIf="!showShieldBack.get(catalog.catalogId); else shieldBackTemplate">{{catalog.catalogName}}</label>
            <ng-template #shieldBackTemplate>
              <div class="col-12 ps-4 unordered-list-container">
                <ul class="col-12">
                  <li class="col-12 text-start products" *ngFor="let product Of productsFiltered">{{product.productName}} {{product.productPrice|currency:'EUR'}}</li>
                </ul>
              </div>             
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<ng-container #modalContainer></ng-container>
