.shield {
  width:180px;
  height:100px;
  border-radius:10% 10% 30% 30%;
  border: 3px solid #d3d3d3;
  transition: .5s ease-out;
}

.shield:hover {
  width: 210px;
  height: 120px;
  border: 3px solid #f0d531;
  cursor: pointer;
  transition: .5s ease-in;
}

.shield-back {
  width: 350px;
  height: 240px;
  border: 3px solid #f0d531;
  cursor: pointer;
 /* transition: .5s ease-in;*/
}

.unordered-list-container {
    height: 150px;
    list-style:inside;
}

.unordered-list-container ul {
    max-height:100%;
    overflow:auto;
}


.shield:hover .catalog-title {
  font-family: Britannic;
  font-size: 22px;
  cursor: pointer;
  transition: .6s ease-in;
}

.shield img {
    width: 220px;
    height: 180px;
}

.catalog-container {
  width: 145px;
  height: 60px;
  background: #f6e759;
  display: flex;
  border-radius: 10% 10% 30% 30%;
  border: 1px solid #d3d3d3;
}
/*#c58d4d*/

.shield:hover .catalog-container {
  width: 170px;
  height: 80px;
  transition: .5s ease-in;
}

.catalog-title{
    font-family:Britannic;
    font-size:20px;
}


