<div class="p-3 col-12">
  <div class="row col-12 mx-auto">
    <div class="row p-3">
      <select class="col-3" (change)="dropEventChange()" [(ngModel)]="eventFilter">
        <option [value]="0">Filtra per evento</option>
        <option *ngFor="let event of events" [value]="event.id">{{event.name}} - {{event.date | date: 'dd/MM/yyyy'}}</option>
      </select>
    </div>
    <div class="row col-12 p-2 tblheader-bk" data-value="tblHeader">
      <div class="col-1">Data</div>
      <div class="col-1">Codice prenotazione</div>
      <div class="col-2">Evento</div>
      <div class="col-1">Codice PR</div>
      <div class="col-1">Tipo prenotazione</div>
      <div class="col-1 text-end">Nome prenotazione</div>
      <div class="col-1 text-end">Nr. persone</div>
      <div class="col-1 text-end">Budget previsto</div>
      <div class="col-1 text-end">Stato</div>
      <div class="col-1 text-end">Budget effettivo</div>
      <div class="col-1"></div>
    </div>
    <div class="row" data-value="tblBody">
      <div class="row p-2" data-value=tblRow *ngFor="let reserve Of reservations">
        <div class="col-1">{{reserve.reservationDate | date: 'dd/MM/yyyy'}}</div>
        <div class="col-1">{{reserve.reservationCode}}</div>
        <div class="col-2">{{reserve.eventName}}</div>
        <div class="col-1">{{reserve.reservationUserCode}}</div>
        <div class="col-1">{{reserve.reservationTypeValue}}</div>
        <div class="col-1 text-end">{{reserve.reservationName}}</div>
        <div class="col-1 text-end">{{reserve.reservationPeopleCount}}</div>
        <div class="col-1 text-end">{{reserve.reservationExpectedBudget | currency: 'EUR'}}</div>
        <div class="col-1 text-end">{{reserve.reservationStatus}} </div>
        <div class="col-1 text-end" *ngIf="!editBudget">{{reserve.reservationRealBudget |currency: 'EUR'}}</div>

        <div class="col-1 text-end" *ngIf="editBudget">
          <input type="number" class="col-10" [(ngModel)]="reserve.reservationRealBudget" />
        </div>

        <div class="col-1 row text-end">
          <div class="col-6 m-0 p-0" *ngIf="reserve.canAcceptReservation">
            <i id="btnAcceptReservation_{{reserve.reservationId}}" class="col-4 btn-icon fa fa-check" (click)="handleReservation($event)"></i>
            <i id="btnRefuseReservation_{{reserve.reservationId}}" class="btn-icon fa fa-times col-4" (click)="handleReservation($event)"></i>
          </div>
          <!-- TODO farsi passare gli stati di prenotazione dal server resource e gestirli-->
          <div class="col-6 m-0 p-0" *ngIf="reserve.reservationStatusId != 3 && !reserve.canAcceptReservation">
            <i id="btnConfirmBudget_{{reserve.reservationId}}" *ngIf="reserve.reservationRealBudget == 0" class="btn-icon fa fa-euro col-4 p-2" (click)="handleReservation($event)"></i>
            <i id="btnEditBudget" *ngIf="!editBudget" class="btn-icon col-4 p-2 fa fa-edit" (click)="handleReservation($event)"></i>
            <i id="btnOkEdtBudget_{{reserve.reservationId}}" *ngIf="editBudget" class="btn-icon col-4 fa fa-check" (click)="handleReservation($event)"></i>
          </div>
        </div>

      </div>

    </div>
    <div class="no-data" *ngIf="reservations == null || reservations.length == 0">
      NON CI SONO PRENOTAZIONI PER QUESTO EVENTO
    </div>
  </div>
 
  <div class="row text-end mt-3 justify-content-end">
    <a class="btn btn-secondary col-1" (click)="openNewReservationModal()">INSERISCI</a>
  </div>
</div>


<!--<app-modal [visibility]="openNewResModal"
           [title]="newResModaltitle"
           [lists]="modalModelLists"
           [textBox]="modalTextBoxLists"
           (onModalConfirmed)="addReservation($event)"
           (onModalClose)="onModalClose($event)"
           [modalType]="modalType"></app-modal>-->

