<div class="container p-5">
  <div class="d-flex justify-content-center h-100">
    <div class="registration-card card">
      <div class="card-header">
        <h3>Sign Up</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fa fa-facebook-square"></i></span>
          <span><i class="fa fa-google-plus-square"></i></span>
          <span><i class="fa fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="register()">
          <div class="input-group form-group pt-2 pb-2">
            <div class="input-group-prepend ">
              <span class="input-group-text h-100" style="padding-top:15%"></span>
            </div>
            <input name="email" type="text" class="form-control h-25" placeholder="email" [(ngModel)]="registrationRequest.email">

          </div>
          <div class="input-group form-group pt-2 pb-2">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" style="padding-top:15%"></span>
            </div>
            <input name="password" type="password" class="form-control h-25" placeholder="password" [(ngModel)]="registrationRequest.password">
          </div>
          <div class="input-group form-group pt-2 pb-2">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" style="padding-top:15%"></span>
            </div>
            <input name="txtUsername" class="form-control h-25" placeholder="Username" [(ngModel)]="registrationRequest.username">
          </div>
          <div class="input-group form-group pt-2 pb-2">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" style="padding-top:15%"></span>
            </div>
            <input name="txtName" class="form-control h-25" placeholder="Name" [(ngModel)]="registrationRequest.name">
          </div>
          <div class="input-group form-group pt-2 pb-2">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" style="padding-top:15%"></span>
            </div>
            <input name="txtSurname" class="form-control h-25" placeholder="Surname" [(ngModel)]="registrationRequest.surname">
          </div>
          <div class="input-group form-group pt-2 pb-2">
            <div class="input-group-prepend">
              <span class="input-group-text h-100" style="padding-top:15%"></span>
            </div>
            <input name="txtPrCode" class="form-control h-25" placeholder="Codice PR" [(ngModel)]="registrationRequest.prCode">
          </div>
          <div class="form-group">
            <input type="submit" value="Registrati" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Hai già un account?<a href="/Login">Login</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Password dimenticata?</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading [loading]="isLoading"></app-loading>
<ng-container #modalTemplate></ng-container>
