<div class="col-12 body-container row" *ngIf="viewTypeReceived">
  <h3 class="col-12 text-center" style="font-family:Britannic; font-size:36px">IMPOSTAZIONI</h3>
  <div id="navigationLabelContainer"
       class="col-12 col-lg-2 p-0 div-container"
       [ngClass]="{'row flex-column': isMobileView || isTabletView}"
       [ngStyle]="{'height': isMobileView || isTabletView ? '50px':''}"
       style="position:static"
       *ngIf="!userIsCustomer">
    <div class="p-2" [ngClass]="isMobileView ? 'w-auto' : (isTabletView ? 'col-md-4' : 'col-lg-12')" *ngFor="let m Of navigationLabel" [style.background-color]="getLabelColor(m.index)">
      <div class="col-lg-12">
        <a style="text-decoration:unset; color:#000"><label (click)="onNavigationLabelClick(m.index)">{{m.label}}</label></a>
      </div>
    </div>
  </div>

  <div [ngClass]="userIsCustomer ? 'col-lg-12 col-12' : 'col-lg-10'">
    <div class="col-12 col-lg-12 p-3 p-lg-5 mx-auto div-container" style="border:1px solid #000" *ngIf="pageViews[PROFILE_VIEW_INDEX]">
      <app-user-info (loading)="onChildLoading($event)"></app-user-info>
    </div>

    <div class="col-12 col-lg-10 p-2 p-lg-5 div-container" style="border:1px solid #000" *ngIf="pageViews[RESERVATION_VIEW_INDEX] && !isLoading">
      <!-- User reservation -->
      <app-profile-userreservation></app-profile-userreservation>
    </div>

    <div class="col-12 col-lg-10 p-2 p-lg-5 div-container" style="border:1px solid #000" *ngIf="pageViews[COLLABORATORS_VIEW_INDEX]">
      <div *ngIf="userCanAddCollabortor;else notAllowed">
        <div class="col-12">
          <label id="no-data" class="col-12">Nuovo collaboratore</label>
          <small id="col-12">Abilita un nuovo collaboratore alla vendita. Il nuovo utente dovrà accettare l'email di verifica.</small>
        </div>
        <div class="col-12 p-2 row">
          <form #frmSignUp="ngForm" name="registerForm" (ngSubmit)="onCollaboratorRegistered($event)">
            <div class="col-10 col-lg-7 m-0">
              <div class="col-12 col-lg-8 p-1">Nome (*): <input type="text" required #nameValue="ngModel" name="name" class="col-12" [(ngModel)]="registrationRequest!.name" /></div>
              <div class="col-12 col-lg-8 p-1">Cognome (*): <input type="text" required #surnameValue="ngModel" name="surname" class="col-12" [(ngModel)]="registrationRequest!.surname" /></div>
              <div class="col-12 col-lg-8 p-1">
                Ruolo (*):
                <select name="drpGender" class="form-control h-25 dropdown" [(ngModel)]="registrationRequest!.role">
                  <option *ngFor="let role Of roles" [value]="role.id">{{role._translatedRole}}</option>
                </select>
              </div>
              <div class="col-12 col-lg-8 p-1">Username (*): <input type="text" required #usernameValue="ngModel" name="username" class="col-12" [(ngModel)]="registrationRequest!.username" /></div>
              <div class="col-12 col-lg-8 p-1">Email (*): <input type="email" emailValidator required #emailValue="ngModel" name="email" class="col-12" [(ngModel)]="registrationRequest!.email" /></div>
              <div class="col-12 col-lg-8 p-1">Password (*): <input type="password" required #passwordValue="ngModel" name="password" class="col-12" [(ngModel)]="registrationRequest!.password" /></div>
              <div class="col-12 col-lg-8 p-1">Conferma password (*): <input type="password" required name="passwordConfirm" class="col-12" /></div>
              <div class="col-12 col-lg-8 p-1">Cellulare (*): <input type="tel" required name="phoneNumber" class="col-12" [(ngModel)]="registrationRequest!.phoneNumber" /></div>
              <div class="mt-2 col-12 col-lg-12"><button class="col-6 col-lg-2 btn btn-success" [disabled]="!frmSignUp.valid" type="submit">REGISTRA</button></div>
              <div class="col-12 col-lg-8 errors-div">
                <label class="col-12" *ngIf="nameValue.dirty && nameValue.errors?.['required']">Nome non valido</label>
                <label class="col-12" *ngIf="surnameValue.dirty && surnameValue.errors?.['required']">Cognome non valido</label>
                <label class="col-12" *ngIf="usernameValue.dirty && usernameValue.errors?.['required']">Username non valido</label>
                <label class="col-12" *ngIf="emailValue.dirty && emailValue.errors?.['required']">Email non valida</label>
                <label class="col-12" *ngIf="emailValue.dirty && emailValue.errors?.['invalidEmail']">Formato dell'indirizzo email non valido</label>
                <label class="col-12" *ngIf="passwordValue.dirty && passwordValue.errors?.['required']">Inserire una password</label>
                <label class="col-12" *ngIf="passwordValue.dirty && passwordValue.errors?.['required']">Confermare la password</label>
                <label class="col-12" *ngIf="frmSignUp.invalid">Compilare i campi obbligatori (*)</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <ng-template #notAllowed>
        <div class="col-10 p-5 div-container" style="border:1px solid #000">
          <div class="col-12">
            <label id="no-data" class="col-12">Nuovo collaboratore</label>
            <small id="col-12">Non sei abilitato per l'aggiunta di un nuovo collaboratore.</small>
          </div>
        </div>
      </ng-template>
    </div>


    <div class="col-12 col-lg-10 p-2 p-lg-5 div-container" style="border:1px solid #000" *ngIf="pageViews[STATISTICS_VIEW_INDEX] && !isLoading">
      <div class="col-12">
        <label id="no-data" class="col-12">Statistiche</label>
        <small class="col-12">Visualizza le statistiche per evento.</small>
      </div>      
      <app-event-statistics [isMobileTemplate]="isMobileView || isTabletView"></app-event-statistics>
    </div>

    <div class="col-12 col-lg-10 p-2 p-lg-5 div-container" style="border:1px solid #000" *ngIf="pageViews[PERMISSION_VIEW_INDEX]">
      <app-permission></app-permission>
    </div>
  </div>
  
</div>

<app-loading [loadingListener]="loadingSubject"></app-loading>
<ng-template #modalContainer></ng-template>
